#marker {
    background-image: url('../img/mapbox-icon.png');
    background-size: cover;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
  }
#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 75%;
    overflow: hidden;
}
.mapboxgl-popup {
  max-width: 200px;
}
.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  p{
    margin-bottom: 0;
  }
}