/* Coolors Exported Palette - */

/* HSL */
$color1: hsla(100%, 17%, 69%, 1);
$color2: hsla(231%, 26%, 34%, 1);
$color3: hsla(150%, 14%, 15%, 1);
$color4: hsla(251%, 42%, 50%, 1);
$color5: hsla(2%, 60%, 46%, 1);

/* RGB */
$color1: rgba(172, 190, 163, 1);
$color2: rgba(64, 71, 109, 1);
$color3: rgba(32, 42, 37, 1);
$color4: rgba(95, 75, 182, 1);
$color5: rgba(187, 52, 47, 1);